
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Fahim Khan</h1>


    <h2>Utbildning</h2>
    <p>

        <ol>
            <li>
                Lexicon IT, Växjö Sweden
                <ul>
                    <li>Systemutvecklare med Specialisering inom Java        2017- 2018 </li>
                </ul>
            </li>

            <li>Lexicon IT, Växjö Sweden
                <ul>
                    <li> Systemutvecklare med Specialisering inom C#/.Net    (pågår)</li>
                </ul>
            </li>


            <li>Karlshamns Kommun, Vägga Vuxenutbildning
                <ul>
                    <li>Kommunal Vuxenutbildning grundläggande nivå 2017</li>
                    <li> Svenska som andra språk</li>

                </ul>

            </li>
            <li>  Karlshamns Kommun, Vägga Vuxenutbildning   
                  <ul>
                       <li>SFI, Svenska för invandrare 2015</li>
                  </ul>
            </li>

        </ol>

    </p>
    <h2>Address</h2>

    <p>
        Alice Tegners Väg 8 
        37435 Karlshamn
    </p>

        <h3>Telefon</h3>

    <p>0707698935</p>
        <h4>Email</h4>

    <p>Fahimkhan.bth@gmail.com</p>


</div>

