
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Projects</h2>

<p>

    <ol>
        <li>C# Backend
            <ul>
                <li>Calculator</li>
                <li>Golf Game</li>
                <li>Arena Fighter Game</li>
                <li>Vending Machine</li>
            </ul>
        </li>

        <li> Frontend (Javascript, CSS3, HTML5)
            <ul>
                <li> SokoBan Game</li>
            </ul>
        </li>


        <li>C#/.Net
            <ul>
                <li>Guessing Game</li>

            </ul>

        </li>
        

    </ol>

</p>

