@model MvcAss_1.Models.People


<div class = "row">

    <div  class="col-md-4">@Model.Name</div>
    <div  class="col-md-4">@Model.City</div>
    <div  class="col-md-4">@Model.PhoneNumber</div>

</div>
